@charset "UTF-8";
/* CSS Document */

#site_explanation_links a{
	border-radius: 8px;
	behavior: url(/javascripts/PIE.htc);
}

#site_explanation {
	*margin-top: -12px;
}

.video_still_holder span{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	
}

#email{
	*padding-top: 14px;
	*height: 42px;
}

.brochure .sub_container h2 {
	padding-bottom: 3px;
}
#preview_banner{
position: absolute;
top: 0;
left: 0;
}
