<div class="user list">
  <h2>Users</h2>

  <table class="listing" summary="User list">
    <tr class="header">
      <th>Email</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><% user.email %></td>
    </tr>
    <% end %>
  </table>
</div>