<h3>Community Overview</h3>
<ul class="rating">
  <li>
    <div class="chart">
      <p class="chart-title">total members = 1,000</p>
      <ul class="chart-bar">
        <li>
          <span style="height:50%;"><small>50</small></span>
        </li>
        <li>
          <span style="height:75%;"><small>75</small></span>
        </li>
        <li>
          <span style="height:100%;"><small>100</small></span>
        </li>
        <li>
          <span style="height:25%;"><small>25</small></span>
        </li>
        <li>
          <span style="height:100%;"><small>100</small></span>
        </li>
      </ul>
      <ul class="chart-bar-title">
        <li>jan</li>
        <li>feb</li>
        <li>mar</li>
        <li>apr</li>
        <li>may</li>
      </ul>
    </div
  </li>
  <li>
    <section class="left-content">
      <p><label>year established</label><span>1981</span></p>
      <p><label>membership dues?</label><span>N</span></p>
    </section>
    <section class="right-content">
      <p><label>Charitable Organization?</label><span>N</span></p>
      <p><label>Volunteer Requirement?</label><span>N</span></p>
    </section>
  </li>
  <li><a href="#">Ratings of Previous Transactions</a></li>
</ul>